name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  ci:
    name: CI
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v6
        with:
          version: "0.9.27"
      - name: Format
        run: uv run ruff format --check --diff
      - name: Lint
        run: uv run ruff check
      - name: Type check
        run: uv run mypy
      - name: Test
        run: uv run pytest
      - name: Build
        run: uv run contributor-network build
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
